.adicionar{
    max-width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    margin-top: 2rem;
    padding: 1.5rem;
    justify-content: space-between; 
    align-items: flex-start;
    background-color: var(--card-background);
    border: 1px solid var(--border);         
    border-radius: 8px;            
    outline: none;                  
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
}
.contato{
    width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 1.5rem;
    justify-content: space-between; 
    align-items: flex-start;
    background-color: var(--background);
    border: 1px solid var(--border);         
    border-radius: 8px;            
    outline: none;                  
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
}

.alinhamento{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.alinhamento button{
    cursor: pointer;
    background-color: var(--card-background);
    border: 1px solid var(--border);         
    border-radius: 8px;            
    outline: none;                  
    box-shadow: 0 1px 2px rgba(0,0,0,0.05); 
    margin: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
}